/* General Styling */
body {
    background-color: #022952;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  p {
    color: #777;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #022952;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button.login-btn:hover {
    background-color: rgb(1, 95, 48);
  }
  
  .social-login {
    margin-top: 20px;
  }
  
  .social-btn {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #777;
    font-size: 14px;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    color: #050a0f;
  }
  